body {
}

input[type=checkbox] {
    height: 18px;
    width: 18px;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}

.buttonlink {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
    color: #337ab7;
}

    .buttonlink:hover {
        color: #72afd2;
    }

    .buttonlink.margem-acompanhamento {
        margin-top: 5px;
    }
/*----------------Datatables-----------------------*/
.dataTables_filter {
    display: none;
}

.grupo_busca {
    margin-top: 15px;
    margin-bottom: -15px;
}

.recemAdicionado {
    background-color: #d2d6de !important;
}
/*----------------Datatables-----------------------*/

/*-----------Validação Angular---------------------*/
.form-control.ng-touched.ng-invalid {
    border: solid 1px red;
}
/*-----------Validação Angular---------------------*/

/*----------Acompanhamento de atendimento----------*/
.dados_atendimento {
    margin-bottom: 15px;
}

    .dados_atendimento.responsavel {
        margin-top: 15px;
    }

.totalizadores_mobile {
    margin-bottom: 15px;
    padding-left: 0px;
    margin-top: 15px;
}

    .totalizadores_mobile span {
        margin-right: 5px;
    }

/*--------------------Modal-------------------------*/
.modal-body.rolagem {
    overflow-y: auto;
    max-height: 70vh;
}

/*-----------Modal Adicionar Responsavel------------*/
.novoresponsavel.imagem {
    margin-left: 10px;
}

.novoresponsavel.product-info {
    margin-left: 90px;
}

/*------------Upload-------------------------------*/

#upload_link {
    text-decoration: none;
}

#upload {
    display: none
}

a.lixeira_anexo {
    float: right;
}

/*--------------Cadastro do usuário---------------*/
.fotocadastrodiacono {
    text-align: center;
}

    .fotocadastrodiacono img {
        height: 200px;
        margin-top: 30px;
    }

    .fotocadastrodiacono img:hover {
        opacity: 0.7;
    }


.products-list .descricao-perfil {
    display: block;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btsair {
    padding: 15px 15px;
    border: 0px;
    /*border-color: transparent;*/
}
    .btsair:hover {
        /*border-color: transparent;*/
        border: 0px;
    }