body {
}

.buttonlink {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
    color: #337ab7;
}

    .buttonlink:hover {
        color: #72afd2;
    }

    .buttonlink.margem-acompanhamento{
        margin-top: 5px;
    }
/*----------------Datatables-----------------------*/
.dataTables_filter {
    display: none;
}

.grupo_busca {
    margin-top: 15px;
    margin-bottom: -15px;
}

.recemAdicionado {
    background-color: #39cccc !important;
}
/*----------------Datatables-----------------------*/

/*-----------Validação Angular---------------------*/
.form-control.ng-touched.ng-invalid {
    border: solid 1px red;
}
/*-----------Validação Angular---------------------*/

/*----------Acompanhamento de atendimento----------*/
.dados_atendimento {
    margin-bottom: 15px;
}

    .dados_atendimento.responsavel {
        margin-top: 15px;
    }
