body {
}

/*----------------Datatables-----------------------*/
.dataTables_filter {
    display: none;
}

.grupo_busca {
    margin-top: 15px;
    margin-bottom: -15px;
}
/*----------------Datatables-----------------------*/

/*-----------Validação Angular---------------------*/

.form-control.ng-touched.ng-invalid {
    border: solid 1px red;
}
